<!DOCTYPE html>
<html lang="en">
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Post It</title>
	<meta name="description" content="To Calculate Employee Salary">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>
	<header>
		<h2> Post It</h2>
        <div site>
			<nav class="nav-bar"> 
                <ul class="group">
                    <li><a href="/">Home</a></li>
                    <li style="float:right"><a class="active" href="#about">Login</a></li>
                    <li><a href="signup">signup</a></li>						
                </ul>
			</nav>

		</div>
	</header>
	<div class = "container">
		
		<div class = "row">
			<div class = "col-md-3">
			</div>
			<div class = "col-md-8"></br>
				<h2>Group chat made easy</h2>
				<img src="image/phone.png">
			</div>
			<div class = "col-md-3">
			</div>
		</div>
	</div>
<script src=""></script>
</body>

</html>
