<!DOCTYPE html>
<html lang="en">
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Salary Calculator</title>
	<meta name="description" content="To Calculate Employee Salary">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styler.css">

</head>
<nav>
	<ul>
		Login
		
	</ul>
	<ul>
		SignUp
	</ul>
</nav>
<body>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-3">
			</div>
			<div id="login" class = "col-md-8"></br>
			<h1> Create Group</h1>
				<form action="/creatGroup" method="post">
					<fieldset>
						<div class="form-group">
							<label for=""><h3>Group Name</h3></label>
							<input type="text" id ="groupName" class= "form-control"placeholder="groupName" required autocomplete="off"></br>
							<input type="addParticipant" id="addParticipant" class= "form-control" placeholder="addParticipant" required autocomplete="off">
						</div>
						<button onclick="createGroup" class="btn btn-primary btn-lg btn-block">Create Group</button>
					</fieldset>
				</form>
			</div>
			<div class = "col-md-3">
			</div>
		</div>
	</div>
<script src="js/salary_calculator.js"></script>
</body>

</html>
