<!DOCTYPE html>
<html lang="en">
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
	<meta name="description" content="Login">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">

</head>
<body>
	<header>
        <div site>
			<nav class="nav-bar"> 
                <ul class="group">
                    <li><a href="/">Home</a></li>
                    <li style="float:right"><a href="Login">Sign Up</a></li>						
                </ul>
			</nav>
		</div>
	</header>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-4">
			</div>
			<div id="signup" class = "col-md-4"></br>
			<h1> Sign Up</h1>
				<form action="/signup" method="post">
					<fieldset>
						<div class="form-group">
                            <label for=""><h3>UserName</h3></label>
							<input type="text" id ="userName" class= "form-control"placeholder="userName" required autocomplete="off">
							<label for=""><h3>Email</h3></label>
							<input type="text" id ="email" class= "form-control"placeholder="email" onblur="validateEmail(this);"  required autocomplete="off">
							<label for=""><h3>Password</h3></label>
							<input type="password" id="password" class= "form-control" placeholder="password" required autocomplete="off">
                            <label for=""><h3>Re-Type Password</h3></label>
							<input type="text" id ="confirmPassword" class= "form-control"placeholder="confirmPassword" required autocomplete="off">
							

						</div>
						<button onclick="signup" class="btn btn-primary btn-lg btn-block">Create Account</button>
					</fieldset>
				</form>
			</div>
			<div class = "col-md-4">
			</div>
		</div>
	</div>

<script src="js/index.js"></script>

<script src=""></script>

</body>

</html>
