.container{
    background-image: url("image/phone.png");
    background-color: #f9fbe7;
}
img{
    float: right;
}
nav{
    background-color: #c6c8b5;
    margin-bottom: 0px;
    text-align: inherit;
    padding:10px;
    box-sizing: border-box;
    border: cornflowerblue;
    border-width: 5px;
    text-decoration-style: none;

}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}