html{
   
}
.navbar-form input, .form-inline input {
  width:auto;
}

.container{
    margin-left: 115px;
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: #f9fbe7;
}
nav{
    background-color: #c6c8b5;
    margin-bottom: 0px;
    text-align: inherit;
    padding:10px;
    box-sizing: border-box;
    color:
}
h3{
     color: ;

}
h1{
    margin-left: 115px;
    margin-top: 20px;
}
body.h1{
    
}