
.navbar-form input, .form-inline input {
  width:auto;
}

.container{
    margin-left: 110px;
    margin-top: 0px;
    padding-bottom: 200px;
    background-color: #f9fbe7;
}
.signup{
    float:right;
}
nav{
    background-color: #c6c8b5;
    margin-bottom: 0px;
    text-align: inherit;
    padding:10px;
    box-sizing: border-box;
    }
h1{
    margin-left: 115px;
    margin-top: 20px;
}
